body {
  background-color: #fbfbfb;
}
h1 {
  margin-left: 3%;
}
form, input {
  display: flex;
  flex-direction: column;
  margin: 5%;
  color: #000;
}
form button {
  margin-top: 10%;
}
.museum-info {
  display: flex;
  margin: 3%;
}
.museum-name {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  border-bottom: 8px solid #4286f4;
}
.museumphoto {
  width: 60%;
}
.masonry-brick {
  width: 200px;
  margin-bottom: 10px;
  object-fit: cover;
  border: 5px solid gray;
  box-shadow: 5px 5px 5px #D6DBDF;
  border-style: groove;
  border-color: #32E875;
  border-width: 10px;
  position: relative;
  top: 0px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.museum-options, .reviews {

  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #4286f4;
  min-height: 100vh;
}
.museum-options a {
  padding: 3%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
.museum-display {
  display: flex;
}
.museum-card {
  width: 100%;
  padding: 3%;
  text-shadow: 2px 2px #000000;
}
.museum-card a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
.card img {
  border: 5px solid gray;
  box-shadow: 5px 5px 5px #D6DBDF;
  border-style: groove;
  border-color: #32E875;
  border-width: 10px;
  align-self: center;
  margin: 3%;
}
.card {
  margin-left: 3%;
}
.card-img-top {
  width: 30%;
}
.reviews {
  margin-left: 3%;
  text-align: center;
  padding: 2%;
  color: #fff;
}
.reviews a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 2%;
}
.review {
  border: 2px solid #fff;
  border-style: groove;
  background-color: #fbfbfb;
  color: #000;
  text-align: left;
  width: 100%;
  margin-bottom: 5%;
  padding: 5%;
}
.review-title {
  font-weight: bold;
}
.newreview {
  background-color: #32E875;
  width: 100%;
  padding: 3%;
  text-align: center;
}
.cancel {
  text-align: center;
  margin-top: 2%;
}
.artshow {
  width: 70%;
}
.artshowlink {
  margin-top: 3%;
  padding-left: 2%;
  align-items: center;

}
.artshowlink a{
  text-decoration: none;
  color: #fff;
  background-color: #4286f4;
  padding: 1%;
}

.logo {
  width: 30%;
}

.img-thumbnail {
  width: 100%;
  padding: 0;
}

.list {
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
  color: #fff;
  padding: 2%
}

.list:hover, .artshowlink a:hover, .reviews a:hover {
  border: 2px solid #fff;
  border-style: groove;
  cursor: pointer;
  background-color: #fbfbfb;
  color: #000;
}

.loading {
  width: 100%;
  /*margin-left: 10%;*/
  text-align: center;
  font-size: 30px;
}

.noMore {
  background-color: #32E875;
  margin-bottom: 7%;

}
