
<div class = "museum-display">
  <div class="museum-options">

    <input type="text" placeholder="Search Our Database" ng-model="searchArts">
    <li ng-click="vm.setCategory('Paintings')">Paintings</li>
    <li ng-click="vm.setCategory('Sculpture')">Sculptures</li>
    <li ng-click="vm.setCategory('Drawings')">Drawings</li>
    <li ng-click="vm.setCategory('Jewelry')">Jewelry</li>
    <li ng-click="vm.setCategory('Pottery')">Pottery</li>
    <li ng-click="vm.setCategory('Baseball cards')">Baseball Cards</li>
    <li ng-click="vm.setCategory('Pottery')">Pottery</li>
    <li ng-click="vm.setCategory('Watercolor')">Watercolors</li>
    <li ng-click="vm.setCategory('Drinking vessels')">Drinking vessels</li>
    <li ng-click="vm.setCategory('Dresses')">Dresses</li>
    <li ng-click="vm.setCategory('Glass')">Glass</li>
    <li ng-click="vm.setCategory('Paper')">Paper</li>
    <li ng-click="vm.setCategory('Porcelain')">Porcelain</li>
    <li ng-click="vm.setCategory('Musical instruments')">Musical instruments</li>
    <li ng-click="vm.setCategory('Wood')">Wood</li>
    <li ng-click="vm.setCategory('Swords')">Swords</li>
    <li ng-click="vm.setCategory('Gold')">Gold</li>
  </div>


  <div ui-view class="container-fluid">
    <div masonry column-width="230" class="grid" load-images="true">
      <div class="masonry-brick" gutter=20 ng-repeat='artwork in vm.artworks | filter: {$:searchArts, category: vm.category} | limitTo: 25'>
        <a ui-sref="artworkShow({artwork_id: artwork.id})">
          <img class="img-thumbnail" ng-src="{{ artwork.img_url }}" />
        </a>
      </div>
    </div>
  </div>
</div>
