
<div class = "museum-display">
  <div class="museum-options">

    <input type="text" placeholder="Search Our Database" ng-model="searchArts">
    <div class="list" ng-click="vm.setCategory('Paintings')">Paintings</div>
    <div class="list" ng-click="vm.setCategory('Sculpture')">Sculptures</div>
    <div class="list" ng-click="vm.setCategory('Drawings')">Drawings</div>
    <div class="list" ng-click="vm.setCategory('Jewelry')">Jewelry</div>
    <div class="list" ng-click="vm.setCategory('Pottery')">Pottery</div>
    <div class="list" ng-click="vm.setCategory('Baseball cards')">Baseball Cards</div>
    <div class="list" ng-click="vm.setCategory('Pottery')">Pottery</div>
    <!-- <div ng-click="vm.setCategory('Watercolor')">Watercolors</div> -->
    <div class="list" ng-click="vm.setCategory('Drinking vessels')">Drinking vessels</div>
    <div class="list" ng-click="vm.setCategory('Dresses')">Dresses</div>
    <div class="list" ng-click="vm.setCategory('Glass')">Glass</div>
    <div class="list" ng-click="vm.setCategory('Paper')">Paper</div>
    <div class="list" ng-click="vm.setCategory('Porcelain')">Porcelain</div>
    <div class="list" ng-click="vm.setCategory('Musical instruments')">Musical instruments</div>
    <div class="list" ng-click="vm.setCategory('Wood')">Wood</div>
    <div class="list" ng-click="vm.setCategory('Swords')">Swords</div>
    <div class="list" ng-click="vm.setCategory('Gold')">Gold</div>
  </div>


  <div ui-view class="container-fluid">
    <div masonry column-width="230" class="grid" load-images="true">
      <div class="masonry-brick" gutter=20 ng-repeat='artwork in vm.artworks | filter: {$:searchArts, category: vm.category} | limitTo: 25'>
        <a ui-sref="artworkShow({artwork_id: artwork.id})">
          <img class="img-thumbnail" ng-src="{{ artwork.img_url }}" />
        </a>
      </div>
    </div>
  </div>
</div>
